In [7]:
import numpy as np
import pandas as pd

In [8]:
indices = ['a','b','c']
my_list = [10,20, 11]

dictionry_list = {'a':10,'b':20,'c':11}

In [9]:
pd.Series(data = my_list)

0    10
1    20
2    11
dtype: int64

In [10]:
x = pd.Series(data = my_list, index = indices)
x['a']

10

In [11]:
pd.Series(dictionry_list)

a    10
b    20
c    11
dtype: int64

In [12]:
# operation

In [13]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [14]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [15]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [16]:
'W X Y Z'.split()

['W', 'X', 'Y', 'Z']

In [17]:
from numpy.random import uniform

In [18]:
df = pd.DataFrame(uniform(0,1,(5,4)),
                  index = 'A B C D E'.split(),
                  columns='W X Y Z'.split())

In [19]:
df

          W         X         Y         Z
A  0.460570  0.084790  0.120587  0.883517
B  0.326554  0.570857  0.994161  0.858657
C  0.843573  0.403598  0.395111  0.322518
D  0.634689  0.623020  0.928040  0.703500
E  0.081678  0.659531  0.632341  0.698965

In [20]:
df['W']

A    0.460570
B    0.326554
C    0.843573
D    0.634689
E    0.081678
Name: W, dtype: float64

In [21]:
df.W

A    0.460570
B    0.326554
C    0.843573
D    0.634689
E    0.081678
Name: W, dtype: float64

In [22]:
type(df['W'])

pandas.core.series.Series

In [23]:
df[['W','Z']]

          W         Z
A  0.460570  0.883517
B  0.326554  0.858657
C  0.843573  0.322518
D  0.634689  0.703500
E  0.081678  0.698965

In [24]:
df['NEW'] = df['W'] + df['Y']
df

          W         X         Y         Z       NEW
A  0.460570  0.084790  0.120587  0.883517  0.581157
B  0.326554  0.570857  0.994161  0.858657  1.320716
C  0.843573  0.403598  0.395111  0.322518  1.238684
D  0.634689  0.623020  0.928040  0.703500  1.562729
E  0.081678  0.659531  0.632341  0.698965  0.714019

In [25]:
df.drop('A',axis=0)

          W         X         Y         Z       NEW
B  0.326554  0.570857  0.994161  0.858657  1.320716
C  0.843573  0.403598  0.395111  0.322518  1.238684
D  0.634689  0.623020  0.928040  0.703500  1.562729
E  0.081678  0.659531  0.632341  0.698965  0.714019

In [26]:
df.drop('NEW',axis=1)

          W         X         Y         Z
A  0.460570  0.084790  0.120587  0.883517
B  0.326554  0.570857  0.994161  0.858657
C  0.843573  0.403598  0.395111  0.322518
D  0.634689  0.623020  0.928040  0.703500
E  0.081678  0.659531  0.632341  0.698965

In [27]:
df.loc['A']

W      0.460570
X      0.084790
Y      0.120587
Z      0.883517
NEW    0.581157
Name: A, dtype: float64

In [28]:
df.iloc[2]

W      0.843573
X      0.403598
Y      0.395111
Z      0.322518
NEW    1.238684
Name: C, dtype: float64

In [29]:
df.loc['A']

W      0.460570
X      0.084790
Y      0.120587
Z      0.883517
NEW    0.581157
Name: A, dtype: float64

In [30]:
df.loc['B','Y']

0.9941610742613787

In [31]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.460570  0.120587
B  0.326554  0.994161

In [32]:
df>0.5

       W      X      Y      Z   NEW
A  False  False  False   True  True
B  False   True   True   True  True
C   True  False  False  False  True
D   True   True   True   True  True
E  False   True   True   True  True

In [33]:
df[df>0.5]

          W         X         Y         Z       NEW
A       NaN       NaN       NaN  0.883517  0.581157
B       NaN  0.570857  0.994161  0.858657  1.320716
C  0.843573       NaN       NaN       NaN  1.238684
D  0.634689  0.623020  0.928040  0.703500  1.562729
E       NaN  0.659531  0.632341  0.698965  0.714019

In [34]:
df[df['W']>df['Y']]

          W         X         Y         Z       NEW
A  0.460570  0.084790  0.120587  0.883517  0.581157
C  0.843573  0.403598  0.395111  0.322518  1.238684

In [35]:
df[(df['W']>0.1) & (df['Y'] > 0.7)]

          W         X         Y         Z       NEW
B  0.326554  0.570857  0.994161  0.858657  1.320716
D  0.634689  0.623020  0.928040  0.703500  1.562729

In [36]:
df.reset_index()

  index         W         X         Y         Z       NEW
0     A  0.460570  0.084790  0.120587  0.883517  0.581157
1     B  0.326554  0.570857  0.994161  0.858657  1.320716
2     C  0.843573  0.403598  0.395111  0.322518  1.238684
3     D  0.634689  0.623020  0.928040  0.703500  1.562729
4     E  0.081678  0.659531  0.632341  0.698965  0.714019

In [37]:
newind = 'CA NY WY OR CO'.split()

In [38]:
df['States'] = newind
df

          W         X         Y         Z       NEW States
A  0.460570  0.084790  0.120587  0.883517  0.581157     CA
B  0.326554  0.570857  0.994161  0.858657  1.320716     NY
C  0.843573  0.403598  0.395111  0.322518  1.238684     WY
D  0.634689  0.623020  0.928040  0.703500  1.562729     OR
E  0.081678  0.659531  0.632341  0.698965  0.714019     CO

In [39]:
df.set_index('States')

               W         X         Y         Z       NEW
States
CA      0.460570  0.084790  0.120587  0.883517  0.581157
NY      0.326554  0.570857  0.994161  0.858657  1.320716
WY      0.843573  0.403598  0.395111  0.322518  1.238684
OR      0.634689  0.623020  0.928040  0.703500  1.562729
CO      0.081678  0.659531  0.632341  0.698965  0.714019

In [40]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [41]:
df['col2'].unique()

array([444, 555, 666])

In [42]:
df['col2'].nunique()

3

In [43]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [44]:
def times2(x):
    return x*2

In [ ]:
df['col2'] = df['col2'].apply(times2)
df

   col1  col2 col3
0     1   888  abc
1     2  1110  def
2     3  1332  ghi
3     4   888  xyz

In [52]:
df.columns[2]

'col3'

In [53]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [55]:
df.sort_values(by='col2', ascending=False) #inplace=False by default

   col1  col2 col3
2     3   666  ghi
1     2   555  def
0     1   444  abc
3     4   444  xyz

In [ ]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [ ]:
df.isnull()

    col1   col2   col3
0  False   True  False
1  False  False  False
2  False  False  False
3   True  False  False

In [ ]:
df.dropna()

   col1   col2 col3
1   2.0  555.0  def
2   3.0  666.0  ghi

In [ ]:
df.fillna('100')

  col1 col2 col3
0    1  100  abc
1    2  555  def
2    3  666  ghi
3  100  444  xyz

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
pd.concat([df1,df2],axis=0)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
pd.concat([df1,df2],axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [ ]:
df3 = pd.DataFrame({'E': ['E0', 'E1', 'E2', 'E3'],
                        'F': ['F0', 'F1', 'F2', 'F3'],
                        'G': ['G0', 'G1', 'G2', 'G3'],
                        'H': ['H0', 'H1', 'H2', 'H3']},
                        index=[0, 1, 2, 3])
pd.concat([df1,df3],axis=1)

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  E0  F0  G0  H0
1  A1  B1  C1  D1  E1  F1  G1  H1
2  A2  B2  C2  D2  E2  F2  G2  H2
3  A3  B3  C3  D3  E3  F3  G3  H3

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                          'C': ['C0', 'C1', 'C2', 'C4'],
                          'D': ['D0', 'D1', 'D2', 'D4']})

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [ ]:
pd.merge(left, right,how='outer', on=['key'])

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C4   D4

In [ ]:
pd.merge(left, right, how='right', on=['key'])

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K4  NaN  NaN  C4  D4

In [ ]:
pd.merge(left, right, how='left', on=['key'])

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['L0', 'L1', 'L0', 'L1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['L0', 'L1', 'L0', 'L1'],
                         'C': ['C0', 'C1', 'C2', 'C3'],
                         'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right,how='inner', on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   L0  A0  B0  C0  D0
1   K1   L0  A2  B2  C2  D2
2   K2   L1  A3  B3  C3  D3

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
by_comp = df.groupby("Company")

In [ ]:
by_comp

In [ ]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [ ]:
by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [ ]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [ ]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [ ]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
# Save and load

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df.to_csv('example',index=False)

In [ ]:
df = pd.read_csv('example')

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz